@import "tailwindcss";

@theme{

    --radius-custom: 2rem;

    --shadow-custom: 0px 1px 10px rgba(0 , 0 , 0 , 0.05);

    --color-Brown900: #634832;
    --color-Brown600: #967259;
    --color-Brown300: #DBC1AC;
    --color-Brown100: #ECE0D1;

    --font-DanaMedium:"DanaMedium";
    --font-DanaRegular:"DanaRegular";
    --font-DanaDemiBold:"DanaDemiBold";
    --font-MorabbaMedium:"MorabbaMedium";
    --font-MorabbaLight:"MorabbaLight";
    --font-MorabbaBold:"MorabbaBold";

    --breakpoint-xs: 480px;

    --tracking-tightest: -0.065em;

}

@font-face {
    font-family: "DanaMedium" ;
    src:local(dana), url(../fonts/Dana/woff2/DanaFaNum-Medium.woff2) format("woff2");
    font-display: swap ;
}
@font-face {
    font-family: "DanaRegular" ;
    src:local(dana), url(../fonts/Dana/woff2/DanaFaNum-Regular.woff2) format("woff2");
    font-display: swap ;
}
@font-face {
    font-family: "DanaDemiBold" ;
    src:local(dana), url(../fonts/Dana/woff2/DanaFaNum-DemiBold.woff2) format("woff2");
    font-display: swap ;
}
@font-face {
    font-family: "MorabbaMedium" ;
    src:local(Morabba), url(../fonts/Morabba/woff2/Morabba-Medium.woff2) format("woff2");
    font-display: swap ;
}
@font-face {
    font-family: "MorabbaLight" ;
    src:local(Morabba), url(../fonts/Morabba/woff2/Morabba-Light.woff2) format("woff2");
    font-display: swap ;
}
@font-face {
    font-family: "MorabbaBold" ;
    src:local(Morabba), url(../fonts/Morabba/woff2/Morabba-Bold.woff2) format("woff2");
    font-display: swap ;
}

@utility container{
    @apply mx-auto px-4 lg:px-2.5;
}

@layer utilities{
    .bg-header-desktop {
    background-image: url('../images/headerBgDesktop.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px; 

  }
  }